<div class='container'>
  <div class='row'>
    <div class="col-md-12 px-5 px-sm-0">
      <h2>マイページ</h2>
      <div class='row mt-md-4 pb-md-4 '>
        <div class='col-md-2'><h4>登録情報</h4></div>
        <div class='col-md-2'><%= link_to "編集する", edit_customer_path, class: "btn btn-success" %></div>
        <div class='col-md-8'></div>
      </div>

      <table class="table table-bordered">
        <tbody>
          <tr>
            <th scope="row">氏名</th>
            <td><%= @customer.first_name %><%= @customer.last_name %></td>
          </tr>
          <tr>
            <th scope="row">カナ</th>
            <td><%= @customer.first_name_kana %><%= @customer.last_name_kana %></td>
          </tr>
          <tr>
            <th scope="row">郵便番号</th>
            <td><%= @customer.postal_code %></td>
          </tr>
          <tr>
            <th scope="row">住所</th>
            <td><%= @customer.address %></td>
          </tr>
          <tr>
            <th scope="row">電話番号</th>
            <td><%= @customer.telephone_number %></td>
          </tr>
          <tr>
            <th scope="row">メールアドレス</th>
            <td><%= @customer.email %></td>
          </tr>
        </tbody>
      </table>
      <div class='row mt-md-5'>
        <div class='col-md-2'><h4>配送先</h4></div>
        <div class='col-md-2'><%= link_to "一覧を見る", addresses_path(@customer), class: "btn btn-primary" %></div>
        <div class='col-md-8'></div>
      </div>
      <div class='row my-md-2'>
        <div class='col-md-2'><h4>注文履歴</h4></div>
        <div class='col-md-2'><%= link_to "一覧を見る", orders_index_path, class: "btn btn-primary" %></div>
        <div class='col-md-8'></div>
      </div>
    </div>
  </div>
</div>
