<div class="container my-4">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <h2 class="text-center mb-4">商品新規登録</h2>
      <%= form_with model: @item, url: admin_items_path, local: true do |f| %>
        <div class="form-group">
          <%= f.label :image, "商品画像" %>
          <%= f.file_field :image, accept: "image/*", class: "form-control-file" %>
        </div>

        <div class="form-group">
          <%= f.label :name, "商品名" %>
          <%= f.text_field :name, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :explanation, "商品説明" %>
          <%= f.text_area :explanation, rows: 5, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :category, 'ジャンル' %>
          <%= f.collection_select(:category, @genres, :id, :category) %>
          <!--ジャンルはあとで-->
        </div>

        <div class="form-group">
          <%= f.label :price, "税抜価格" %>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">&#165;</span>
            </div>
            <%= f.number_field :price, class: "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :selling_status, "販売ステータス" %>
          <%= f.select :selling_status, Item.selling_statuses_i18n.invert, selected: @item.selling_status %>
        </div>

        <div class="form-group">
          <%= f.submit "登録する", class: "btn btn-primary btn-block" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
