<div class="container">
  <div class="row">
    <div class="col-md-10">
      <h2>配送先編集</h2>
    <%= form_with model: @address, url: address_path(@address.id), method: :patch, local: true do |f| %>
    <div class="row">
      <div class="col-md-5">郵便番号(ハイフンなし)</div>
      <div class="col-md-4 form-group">
        <%= f.text_field :postal_code, autofocus: true, class: "form-control postal_code" %>
      </div>
    </div>
    <div class="row">
     <div class="col-md-5">住所</div>
     <div class="col-md-7 form-group">
          <%= f.text_field :address, autofocus: true, class: "form-control address" %>
     </div>
    </div>
    <div class="row">
      <div class="col-md-5">宛名</div>
      <div class="col-md-4 form-group">
       <%= f.text_field :name, autofocus: true, class: "form-control" %>
      </div>
    </div>
    <div class="form-group">
       <%= f.submit "変更内容を保存",class: 'btn btn-sm btn-success' %>
     </div>
      <% end %>
    </div>
　 </div>
　</div>