<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render 'layouts/genre-search', genres: @genres %>
    </div>
    <div class="col-md-9">
      <h3 class="md-4">
        ようこそ、ながのCAKEへ!<br>
        このサイトは、ケーキ販売のECサイトになります。<br>
        会員でない方も商品の観覧はできますが、<br>
        購入には会員登録が必要になります。
      </h3>
      <div class="row">
        <h2 class="col-md-12"><strong>新着商品</strong></h2>
        <% @items.each do |item| %>
          <div class="col-md-3 mb-4">
            <div class="card">
              <%= link_to item_path(item) do %>
               <%= image_tag item.image, fallback: 'no_image.jpg',size: "150x150" ,class: "card-img-top" %>
              <% end %>
              <div class="card-body">
                <h5 class="card-title"><%= item.name %></h5>
                <p class="card-text">¥<%= item.price %></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>


