<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="text-center mb-5">ショッピングカート</h2>
      <div class="text-right mb-3">
        <%= link_to destroy_all_cart_items_path, method: :delete, class: "btn btn-danger" do %>
          カートを空にする
        <% end %>
      </div>
      <div>
      <table class="table">
       <thead>
        <tr>
         <th>商品名</th>
         <th>単価(税込)</th>
         <th>数量</th>
         <th>小計</th>
         <th></th>
        </tr>
       </thead>
       <tbody>
      <% @cart_items.each do |cart_item| %>
        <tr>
          <td><%= cart_item.item.name %></td>
          <td><%= cart_item.item.with_tax_price.to_s(:delimited) %></td>
          <td>
            <%= form_with model: cart_item, url: cart_item_path(cart_item), local: true do |f| %>
              <%= f.hidden_field :id, :value => cart_item.id %>
              <%= f.number_field :amount, size: 1, min: 1, class: "form-control" %>
              <%= f.submit "変更", class: "btn btn-primary mt-2" %>
            <% end %>
          </td>
          <td><%= cart_item.subtotal %></td>
          <td><%= link_to "削除する", cart_item_path(cart_item.id), method: :delete, class: "btn btn-danger", data: {confirm: "Are you sure?"} %></td>
        </tr>
      <% end %>
       </tbody>
      </table>
     </div>
     <div class="row">
      <div class="col-md-9"></div>
      <div class="col-md-3 font-weight-bold text-right">合計金額: <%= @total_price %></div>
     </div>
     <div class = "col-md-5">
       <%= link_to "情報入力に進む", order_orders_confirm_path, class: "col-xs-12 btn btn-successr"%>
    </div>
    </div>
   </div>
 </div>
