<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="text-center mb-5">ショッピングカート</h2>
      <div class="text-right mb-3">
        <%= link_to destroy_all_cart_items_path, method: :delete, class: "btn btn-danger" do %>
          カートを空にする
        <% end %>
      </div>
      <% @cart_items.each do |cart_item| %>
        <div class="row mb-3">
          <div class="col-md-3"><%= cart_item.item.name %></div>
          <div class="col-md-3"><%= cart_item.item.with_tax_price.to_s(:delimited) %></div>
          <div class="col-md-3">
            <%= form_with model: cart_item, url: cart_item_path(cart_item), local: true do |f| %>
              <%= f.hidden_field :id, :value => cart_item.id %>
              <%= f.number_field :amount, size: 1, min: 1, class: "form-control" %>
              <%= f.submit "変更", class: "btn btn-primary mt-2" %>
            <% end %>
          </div>
          <div class="col-md-3"><%= cart_item.subtotal %></div>
        </div>
      <% end %>
      <div class="row">
        <div class="col-md-9"></div>
        <div class="col-md-3 font-weight-bold text-right">合計金額: <%= @total_price %></div>
      </div>
    </div>
  </div>
</div>
