<div class='container'>
  <div class='row'>
    <h2>注文履歴一覧</h2>
    <div class='row'>
      <table class='table'>
        <thead>
          <tr>
            <th scope='row'>注文日</th>
            <th scope='row'>配送先</th>
            <th scope='row'>注文商品</th>
            <th scope='row'>支払金額</th>
            <th scope='row'>ステータス</th>
            <th scope='row'>注文詳細</th>
          </tr>
        </thead>
        <tbody>
          <%= @orders.each do |order| %>
            <tr>
              <td><%= order.created_at.datetime('%Y/%m/%d') %></td>
              <td><%= order.address %></td>
              <td>
                <% order.order_details.each do |order_detail| %>
                  <p><%= order_detail.item.name %></p>
                <% end %>  
              </td>
              <td><%= order.total_payment %></td>
              <td><%= order.order_status %></td>
              <td><%= linl_to "表示する", order_path(current_customer), "btn btn-primary" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
